.wrapper {
  height: calc(100% - 114px);
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}
.wrapper div {
  position: relative;
  width: max-content;
  margin-bottom: 5px;
  margin-top: 5px;
  box-shadow: 2px 2px 2.5px rgb(11 20 26 / 44%);
  border-radius: 7.5px;
  font-size: 14.2px;
  padding-bottom: 8px;
  padding-top: 6px;
  padding-left: 8px;
  padding-right: 8px;
}

.getMessage {
  background-color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-right: auto;
}

.sendMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 15px;
  background-color: #d9fdd3;
}
